# ShellCheck configuration
# https://www.shellcheck.net/wiki/

# Allow sourcing from paths that don't exist at lint time (bashio)
external-sources=true

# Disable "not following" warning for sourced files
disable=SC1091
